{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- UIkit CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'uikit.min.css' %}" />


    <title>Devblog - Home</title>
</head>
<body>

    <!-- a. WRAPPER as tall as the viewport-->
    <div class="uk-container uk-height-viewport uk-background-norepeat ">

        <!-- b. NAVBAR-->
        {% include 'navbar.html' %}

        <!-- c. MAIN CONTENT container that offsets the nevbar-->
        <div class="uk-container" uk-height-viewport="offset-top: true"> 
                    
            {% block content %}
            {% endblock %}
           
        </div>

    </div>
    

    <!-- UIkit JS -->
    <script src="{% static 'uikit-icons.min.js' %}"></script>
    <script src="{% static 'uikit.min.js' %}"></script>
</body>
</html>