<nav class="uk-navbar-container uk-margin " uk-navbar>
    <div class="uk-navbar-left" >

        <a class="uk-navbar-item uk-logo" href="{% url 'home' %}">Devblog</a>

        <div class="uk-navbar-item">
            <a href="{% url 'add-post' %}">Add Post</a>
        </div>

        <div class="uk-navbar-item">
            <form action="javascript:void(0)">
                <input class="uk-input uk-form-width-small" type="text" placeholder="Input">
                <button class="uk-button uk-button-default">Button</button>
            </form>
        </div>

    </div>

    <div class="uk-navbar-right">
        <div class="uk-navbar-item">
            <a href="#">Login</a>
        </div>
        <div class="uk-navbar-item">
            <a href="#">Register</a>
        </div>
    </div>
</nav>